<?xml version="1.0"?>
<log4net>
  
  <root>
    <priority value="Info"/>
    <appender-ref ref="AsynchronousLog4NetAppender" />
    <appender-ref ref="SlackAppender" />
  </root>

  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
	  <file type="log4net.Util.PatternString" value="App_Data\Logs\UmbracoTraceLog.%property{log4net:HostName}.txt" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value=" %date [P%property{processId}/D%property{appDomainId}/T%thread] %-5level %logger - %message%newline" />
    </layout>
    <encoding value="utf-8" />
  </appender>

  <appender name="AsynchronousLog4NetAppender" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
    <appender-ref ref="rollingFile" />
  </appender>

  <!--Here you can change the way logging works for certain namespaces  -->
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>

    <appender name="SlackAppender" type="Log4Slack.SlackAppender, Log4Slack">
        <WebhookUrl value="https://hooks.slack.com/services/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" />
        <Channel value="#umbraconotifications" />
        <Username value="Log4Slack" />
        <IconUrl value="" />
        <IconEmoji value=":ghost:" />
        <AddAttachment value="true" />
        <AddExceptionTraceField value="true" />
        <UsernameAppendLoggerName value="true"/>
        <filter type="log4net.Filter.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[TEST] %-5level %logger - %message" />
        </layout>
    </appender>

</log4net>